<div>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">

    <script src="TemplateData/UnityProgress.js"></script>  

    <script src="Build/UnityLoader.js"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "Build/AST_web.json", {onProgress: UnityProgress});
    </script>
    <div class="webgl-content">
        <div id="gameContainer" style="height: 500"></div>
        <div class="footer">
            <div class="webgl-logo"></div>
            <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
            <div class="title">Astonishing Airscapade Of Sir Bittergloom</div>
        </div>
    </div>
</div>
